{% load static %} 
    <footer class="ftco-footer bg-light ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Winkel</h2>
              <p>Porque Deus tanto amou o mundo que deu o seu Filho Unigênito, para que todo o que nele crer não pereça, mas tenha a vida eterna.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                  <li class="ftco-animate">
                    <a href="https://wa.me/5543996414232" target="_blank">
                        <span class="icon-whatsapp"></span>
                    </a>
                </li>   
                <li class="ftco-animate"><a href="https://www.instagram.com/vivan.calcados?igsh=MXBzdHIzcGlidmxvMA=="><span class="icon-instagram"></span></a></li>
                <li class="ftco-animate"><a href="https://m.facebook.com/vivan.calcados/"><span class="icon-facebook"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'produto:lista' %}" class="py-2 d-block">Shop</a></li>
                <li><a href="{% url 'produto:contact' %}" class="py-2 d-block">Contatos e Feedback</a></li>
                <li><a href="{% url 'produto:blog' %}" class="py-2 d-block">Blog</a></li>
                <li><a href="{% url 'produto:about' %}" class="py-2 d-block">Sobre Nois</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Ajuda</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="{% url 'produto:troca' %}" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="{% url 'produto:termos' %}" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="{% url 'produto:politica' %}" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              {% comment %} <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="{% url 'produto:contact' %}" class="py-2 d-block">Contact</a></li>
	              </ul> {% endcomment %}
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Tem alguma pergunta?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+ (43) 99641-4232</span></a></li>
	                <li><a href="#"><span class="icon icon-instagram"></span><span class="text">@vivan.calcados</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>